@if (!toolbarConfig.isSecondaryToolbar) {
	<mat-toolbar
		[id]="id"
		class="toolbar"
	>
		@if (mainButton) {
			<app-button
				[type]="mainButton.type"
				[label]="mainButton.label"
				[icon]="mainButton.icon"
				[action]="mainButton.action"
				(actionEmmiter)="this.actionEmitter.emit($event)"
			/>
		}
		@if (toolbarConfig.isTitleSeparete) {
			<span class="spacer"></span>
		}
		@if (title) {
			<strong>{{ title }}</strong>
		}
		@if (toolbarConfig.isTitleSeparete) {
			<span class="spacer"></span>
		} @else {
			<span class="secondary-spacer"></span>
		}
		@if (secondaryButtons) {
			@for (button of secondaryButtons; track $index) {
				<button-feature
					[button]="button"
					(actionEmmiter)="this.actionEmitter.emit($event)"
				/>
			}
		}
	</mat-toolbar>
} @else {
	<mat-toolbar
		[id]="id"
		class="toolbar secondary-toolbar"
	>
		@if (secondaryButtons) {
			@for (button of secondaryButtons; track $index) {
				<button-feature
					[button]="button"
					(actionEmmiter)="this.actionEmitter.emit($event)"
				/>
			}
		}
	</mat-toolbar>
}
