.categoria-card {
    width: 100dvw;
    height: 100%;
    background-color: var(--sys-primary-container);
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url(../../../../public/assets/YoruStore.webp);
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
}
.categoria-header {
    width: 100%;
    box-sizing: border-box;
}
.card-subtitle {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    width: 75vw;
}
.buscar-form-field {
    width: 75%;
    margin: 0;
}
.search-button {
    margin-top: auto;
    margin-bottom: auto;
}