@use '@angular/material' as mat;

@mixin color($theme) {
    $theme-type: mat.get-theme-type($theme);

    .toolbar {
        color: white;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        z-index: 5;
    }
}

@mixin theme($theme) {
    @if mat.theme-has($theme, color) {
        @include color($theme);
    }
}