mat-grid-tile {
    width: fit-content;
    height: fit-content;
}
app-card-ui {
    display: inline-block;
    width: max-content;
}
.list {
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    overflow: scroll;
}