@switch (type) {
	@case ("raised") {
		<button
			mat-raised-button
			class="raised-button"
			(click)="this.actionEmmiter.emit(this.action)"
			color="error"
		>
			@if (label) {
				<span>{{ label }}</span>
			}
			@if (icon) {
				<mat-icon>{{ icon }}</mat-icon>
			}
		</button>
	}
	@case ("flat") {
		<button
			mat-flat-button
			class="flat-button"
			(click)="this.actionEmmiter.emit(this.action)"
		>
			@if (label) {
				<span>{{ label }}</span>
			}
			@if (icon) {
				<mat-icon>{{ icon }}</mat-icon>
			}
		</button>
	}
	@case ("icon") {
		<button
			mat-icon-button
			(click)="this.actionEmmiter.emit(this.action)"
		>
			@if (icon) {
				<mat-icon>{{ icon }}</mat-icon>
			}
		</button>
	}
	@case ("fab") {
		<button
			mat-fab
			extended="true"
			(click)="this.actionEmmiter.emit(this.action)"
			color="primary"
		>
			@if (icon) {
				<mat-icon>{{ icon }}</mat-icon>
			}
			<span>{{ label }}</span>
		</button>
	}

	@default {
		<button
			mat-button
			class="basic-button"
			(click)="this.actionEmmiter.emit(this.action)"
		>
			@if (label) {
				<span>{{ label }}</span>
			}
			@if (icon) {
				<mat-icon>{{ icon }}</mat-icon>
			}
		</button>
	}
}
