mat-card {
    max-width: 16em;
}

img {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 95%;
}

mat-card-actions {
    justify-content: space-between;
}

.card-title-group {
    flex-direction: column-reverse;
}